<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Chat App</title>
</head>
<body>
    <div class="content">
        <div>
            <p>Welcome to Chat App</p>
            <form action="/room" method="POST">
                <input type="text" placeholder="Enter your Name" class="username" name="username" required autocomplete="off" autofocus>
                <input type="text" placeholder="Enter Room Name" class="roomname" name="roomname" required autocomplete="off">
                <input type="submit" value="Enter">
            </form>
        </div>
    </div>
</body>
</html> -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login system with nodejs and mysql database</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <section class="box">
        <div class="design">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
        <div class="form">
            <h2>Welcome To Chat App</h2>
            <form action="/room" method="POST">
                <input type="text" placeholder="Enter your Name" class="username" name="username" required autocomplete="off" autofocus>
                <input type="text" placeholder="Enter Room Name" class="roomname" name="roomname" required autocomplete="off">
                <input type="submit" value="Enter">
            </form>
        </div>
    </section>
</body>
</html>